<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-image">
      <img src="assets/images/image1.png" alt="">
    </div>
    <div class="container-form">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item class="login-item" style="width: 94%; padding-bottom: 18px;">
          <ion-input type="text" labelPlacement="stacked" placeholder="Email/Users" formControlName="email">
            <ion-icon slot="start" name="at-outline" aria-hidden="true"></ion-icon>
            <ion-button fill="clear" slot="end" aria-label="Requerido">
              (requerido)
            </ion-button>
          </ion-input>
        </ion-item>
        <ion-item class="login-item" style="width: 94%; padding-bottom: 40px;">
          <ion-input type="password" labelPlacement="stacked" placeholder="Password" formControlName="password">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-button fill="clear" slot="end" aria-label="Requerido">
              (requerido)
            </ion-button>
          </ion-input>
        </ion-item>
        <ion-button class="login-button" expand="block" type="submit" [disabled]="!loginForm.valid">
        INICIAR SESIÓN
      </ion-button>
    </form>
    <!-- <ion-button (click)="openModal()">Abrir Modal</ion-button> -->
      <div class="bottom-links">
        <a style="font-size: 14px; color: black;" (click)="crearCuenta()">Crear Cuenta</a>
        <a style="font-size: 14px; color: black;" (click)="olvideContrasena()">Olvidó su Contraseña</a>
      </div>
      
    </div>
  </div>
</ion-content>