.container-general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-1{
  height: 100%;
}
swiper-container {
  width: 100%;
  height: 100%;
}

.container-image {
  width: 100%;
  height: 100%;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: #DED7D7;
  margin: 40px 0px;
}

.container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-2{
  padding: 0px 10px;

  ion-button{
    --background: #3498DB;
    --color: white;
  }
}


.bottom-links{
  display: flex;
  justify-content: space-between;
  margin: 20px 6px;
}